body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

.total {
    font-weight: bold;
    background-color: #ddd;
}

.btn-container {
    text-align: center;
    margin-top: 20px;
}

.btn {
    padding: 10px 15px;
    font-size: 16px;
    background: #1055b1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #012a4a;
}

/* Estilos para impresión */
@media print {
    .btn-container {
        display: none;
    }
    body {
        background: white;
    }
}
